/* Keep things alphabetically ordered */

a {
    color: hotpink;
    text-decoration: none;
}

.alert {
  text-align: center;
  font-size: 11;
}

button[type=submit] {
    width: 100%;
    max-width: 220px;
    background-color: hotpink;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type=submit]:hover {
    background-color: pink;
}

button[type=submit]:disabled {
    background-color: gray;
}

.container {
  padding: 0;
  margin: auto;

  max-width: 1000px;

  font-family: 'Verdana', arial, serif;
  align-content: flex-start;
}

.error p {
  color: #E00;
}

footer {
  color: #BBB;
  font-size: 11px;
  text-align: center;
}

.home {
  text-align: center;
}

.home-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style-type: none;
  text-align: center;
}

.ingredient-add {
  width: 100%;
  max-width: 600px;
}

.ingredient-table {
  float: none;
  margin: 0 auto;
}

.instructions input {

}

input[type=text], input[type=number], select {
    width: 100%;
    max-width: 200px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

li {
  margin-right: 15px;
  list-style-type: none;
}

nav {
}

.navbar {
  display: flex;
}

.recipe-add {

}

.recipe-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.recipe-box {
  margin-right: 10px;
}

.recipe-info {
  max-width: 400px
}

.recipe-new {
}

.recipe-new textarea {
  width: 400px;
  height: 180px;
  resize: none;
}

.recipe-new-details {
  margin-right: 12px;
}

.recipe-select {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style-type: none;
  text-align: center;
}

.recipe-table {
  text-align: center;
}

.row {
  display: flex;
}

.shoppinglist {
  text-align: center;
}

.shoppinglist li {
  margin-right: 0px;
}

.shoppinglist-browser {
}

.shoppinglist-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style-type: none;
  text-align: center;
}

.ingredient-table table, .recipe-table table {
  width: 100%;
  max-width: 600px;
}

th, td {
  padding: 10px 16px 10px 16px;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #f5f5f5
}

tr:hover {
  background-color: #f2f2f2
}

th {
  background-color: #DDD;
}
